<table
  id="data-table"
  class="table table-bordered table-hover"
  aria-label="Category Form"
>
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th data-orderable="false">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < category.length; i++) { %>
    <tr>
      <td style="width: 10%"><%= i + 1 %></td>
      <td><%= category[i].name %></td>
      <td style="width: 190px" align="center">
        <form
          action="/category/delete/<%= category[i]._id %>?_method=DELETE"
          method="POST"
        >
          <a
            href="/category/edit/<%= category[i]._id %>"
            class="btn btn-warning"
            ><i class="fas fa-pencil-alt"></i> Change</a
          >
          <button class="btn btn-danger">
            <i class="fas fa-trash"></i> Delete
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
