.select2-selection__rendered {
  line-height: auto !important;
}
.select2-container .select2-selection--single {
  height: 38px !important;
  padding-left: 6px;
}
.select2-selection__arrow {
  height: 37px !important;
}
